.env
cookies.txt
ReupLinkPy
app.log
downloads/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.DS_Store
.vscode/
.idea/
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.mo
*.cover
chromedriver.exe
geckodriver.exe

chrome_profiles/
.idea/
.vscode/